.App {
  text-align: center;
  margin: 100px 200px 100px 200px;
  box-shadow: 0 0 5px #252525;
  background: linear-gradient(to bottom right, #000066 0%, #660066 100%);;
  padding: 2px;
}

.App button{
  background-color:rgb(9, 9, 83);
  color: white;
  font-size: 15px;
  width: 200px;
  font-family: sans-serif;

}

.Todos span{
  text-align: center;
  margin: 20px 0px 20px 0px;
  background-color: white; 
  font-size:20px;
  font-family: sans-serif;
  padding: 20px 0px 20px 0px;
  display: inline-block;
}
.Todos button{
  background-color: rgb(116, 7, 116);
  color: white;  
  font-size: 15px;
  width: 30px;
  height: 30px;

}

.Todos input{
  width: 20px;
  height: 20px;

}


.Add input{
  width: 400px;
  height: 24px;
  position: relative;
}
.Add button{
  float: center;
  width: 70px;
  height: 30px;
  background-color: rgb(116, 7, 116);
  color: white;
  font-size: 10px solid;
}
.App h1{
  color: white;
}