.App {
  text-align: center;
  border: Thistle solid ;
  margin: 100px 100px 100px 100px;
  box-shadow: 0 0 5px #252525;

}

.App button{
  background-color: White;
  border-radius: 10px;
  font-size: 15px;
  width: 200px;
  border: Thistle solid ;
  font-family: cursive;

}

.Todos span{
  text-align: center;
  margin: 20px 20px 20px 20px;
  background-color: white; 
  font-size:20px;
  font-family: cursive;
  padding: 20px 20px 20px 20px;
  display: inline-block;

}
.Todos button{
  background-color: White;

  border-radius: 10px;
  font-size: 15px;
  width: 40px;
  height: 40px;

  border: Thistle solid ;
}

.Todos input{
  border=radius: 10px;

  width: 30px;
  height: 30px;
  border: Thistle solid ;

}
.Todos{
  background-color: Thistle; 
  

}